<mat-card appearance="outlined">
      <mat-card-content>
            <mat-form-field>
                  <mat-label>Enter Text to search</mat-label>
                  <input matInput type="text" [(ngModel)]="value"  />
                  @if (value) {
                        <button matSuffix mat-flat-button (click)="search(value)">Search</button>
                  }
            </mat-form-field>
      </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
      <mat-card-content class="custom-content">
            <div>{{ stringValue }}</div>
      </mat-card-content>
</mat-card>
